.App {
  text-align: center;
}

button {
  cursor: pointer;
  border: none;
}

.header-tab {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-tab button {
  margin-left: 40px;
  max-height: 30px;
  background-color: rgba(240, 125, 125, 0.532);
}

.header-tab button:active {
  background-color: rgba(12, 243, 58, 0.685);
}

table {
  margin: 0 auto;
}

.card td {
  max-width: 300px;
  background-color: rgb(188, 235, 239);
  min-width: 30px;
}

.card td:last-child {
  padding: 0 0 4px;
}

.card button {
  background-color: rgba(137, 43, 226, 0.091);
}

.card button:active {
  background-color: rgba(226, 43, 198, 0.374);
}
